.root { 
    display: block;
    -fx-background-color: white;
}

.VBox, .scroll-pane {
    -fx-background-color: white;
}

#toolArea{
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: white;
}

#toolPane{
    -fx-background-color: white;
}

#scrollToolPane {
    -fx-border-color: radial-gradient(center 50% 0%,radius 50%, darkgrey, white);
    -fx-border-insets: 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-style: solid inside;
}
#buttonsPane {
    -fx-background-size: auto;
    -fx-background-image: url("img/dna_low.png");
    -fx-background-position: bottom;
    -fx-background-repeat: no-repeat;
}

#consoleArea {
    -fx-font-family: monospace;
}

.list-cell {
    -fx-background-color: lightgrey;
     -fx-background-insets: 1;
    -fx-background-radius: 0;
}

.list-cell:empty{
    -fx-background-color: transparent;
}

.list-cell:selected {
    -fx-background-color: lightgray;
}

#toolButton:selected, #toolTitle {
    -fx-background-color: grey;
    -fx-text-fill: white;
    /*-fx-background-insets: -1;*/
    -fx-background-radius: 0;
}

#toolButton, #fileTextField, #param, .text-field {
    -fx-background-color: white;
    /*-fx-background-insets: -1;*/
    -fx-background-radius: 0;
}

#toolButton:hover, #fileTextField:hover, #param:hover, .text-field:focused {
    -fx-prompt-text-fill: darkgrey;
    -fx-background-color: lightgray;
    /*-fx-background-insets: -1;*/
    -fx-background-radius: 0;
}

#paramName {
    /*-fx-underline: true;*/
    -fx-border-color: radial-gradient(center 50% 0%,radius 50%, darkgrey, white);
    -fx-border-insets: 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-style: solid inside;
}

.button{
    -fx-background-color: lightgrey;
    -fx-background-insets: -1;
    -fx-background-radius: 0;
    
}

.button:hover {
    -fx-background-color: whitesmoke;
    -fx-background-insets: -1;
    -fx-background-radius: 0;
}

#addButton {
    -fx-graphic: url("img/ico/add24.png");
}

#deleteButton {
    -fx-graphic: url("img/ico/delete24.png");    
}

.text-field{
    -fx-border-color: black;
    -fx-border-width: 0 1 1 1;
}