root { 
    display: block;
    font-family: serif;
}

#toolArea{
    -fx-background-image: url("img/background-DNA.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#toolPane{
    -fx-background-color: transparent;
}

#buttonsPane {
    -fx-background-size: auto;
    -fx-background-image: url("img/dna_low.png");
    -fx-background-position: bottom;
    -fx-background-repeat: no-repeat;
}

#consoleArea {
    font-family: monospace;
}

.list-cell:empty{
    -fx-background-color: transparent;
}

#toolButton {
    -fx-background-color: lightcyan;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
}

#toolButton:selected {
    -fx-background-color: cyan;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
}

#toolButton:hover {
    -fx-background-color: lightgreen;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
}