.root { 
    display: block;
    -fx-background-color: white;
}

.VBox, .scroll-pane {
    -fx-background-color: white;
}

#toolArea{
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: white;
}

#toolPane{
    -fx-background-color: white;
}
#scrollToolPane {
    -fx-border-color: radial-gradient(center 50% 0%,radius 50%, darkgrey, white);
    -fx-border-insets: 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-style: solid inside;
}
#buttonsPane {
    -fx-background-size: auto;
    -fx-background-image: url("img/dna_low.png");
    -fx-background-position: bottom;
    -fx-background-repeat: no-repeat;
}

#consoleArea {
    -fx-font-family: monospace;
}

.list-cell {
    -fx-background-color: lightsteelblue;
     -fx-background-insets: 1;
    -fx-background-radius: 0;
}

.list-cell:empty{
    -fx-background-color: transparent;
}

.list-cell:selected {
    -fx-background-color: lightsalmon;
}

#toolButton:selected, #toolTitle {
    -fx-background-color: steelblue;
    -fx-background-insets: -1;
    -fx-background-radius: 0;
}

#toolButton, #fileTextField, #param, .text-field {
    -fx-prompt-text-fill: grey;
    -fx-background-color: lightsteelblue;
    -fx-background-insets: -1;
    -fx-background-radius: 0;
}

#toolButton:hover, #fileTextField:hover, #param:hover, .text-field:focused {
    -fx-prompt-text-fill: darkgrey;
    -fx-background-color: lightcyan;
    -fx-background-insets: -1;
    -fx-background-radius: 0;
}

#paramName {
    /*-fx-underline: true;*/
    -fx-border-color: radial-gradient(center 50% 0%,radius 50%, darkgrey, white);
    -fx-border-insets: 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-style: solid inside;
}

.button{
    -fx-background-color: dodgerblue;
    -fx-background-insets: -1;
    -fx-background-radius: 0;
    
}

.button:hover {
    -fx-background-color: lightskyblue;
    -fx-background-insets: -1;
    -fx-background-radius: 0;
}

#startButton {
    -fx-background-color: dodgerblue;
    -fx-background-insets: -1;
    -fx-background-radius: 0;
}

#startButton:hover {
    -fx-background-color: lightskyblue;
    -fx-background-insets: -1;
    -fx-background-radius: 0;
}

#addButton {
/*    -fx-background-color: limegreen;
    -fx-background-radius: 0;*/
    -fx-graphic: url("img/ico/add24.png");
}

/*#addButton:hover {
    -fx-background-color: lightgreen;
}*/

#deleteButton {
/*    -fx-background-color: salmon;
    -fx-background-radius: 0;*/
    -fx-graphic: url("img/ico/delete24.png");    
}

/*#deleteButton:hover {
    -fx-background-color: lightsalmon;
}*/
