root { 
    display: block;
}

#console{
    -fx-background-image: url("img/background-DNA.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-family: monospace;
}
.tab-content-area {
    -fx-background-image: url("img/tabground.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#toolsTab{
    -fx-graphic: url("img/tools.png");
}

#settingsTab{
    -fx-graphic: url("img/sort.png");
}

.list-cell:empty{
    -fx-background-color: transparent;
}
#selectVariants{
    -fx-graphic: url("img/ico/select.png");
}
#combineVariants{
    -fx-graphic: url("img/ico/combine.png");
}
#filterFrequencies{
    -fx-graphic: url("img/ico/filter.png");
}
#siftAnnotation{
    -fx-graphic: url("img/ico/tag.png");
}
#illumina{
    -fx-graphic: url("img/ico/illumina.png");
}
#alignb{
    -fx-graphic: url("img/ico/align.png");
}
#callVariants{
    -fx-graphic: url("img/ico/call.png");
}
#indexFasta{
    -fx-graphic: url("img/ico/index.png");
}
#dindel{
    -fx-graphic: url("img/ico/index.png");
}